@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f6f6;
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 600;
    font-size: 1.2em;
}

.outer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    margin-left: 100px;
    margin-top: 30px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
}


#a div,
#b div,
#c div,
#d div,
#e div,
#f div,
#g div,
#h div {
    width: 80px;
    height: 80px;
}

#a div:nth-of-type(even),
#c div:nth-of-type(even),
#e div:nth-of-type(even),
#g div:nth-of-type(even) {
    background-color: black;
}

#a div:nth-of-type(odd),
#c div:nth-of-type(odd),
#e div:nth-of-type(odd),
#g div:nth-of-type(odd) {
    background-color: white;
}

#b div:nth-of-type(odd),
#d div:nth-of-type(odd),
#f div:nth-of-type(odd),
#h div:nth-of-type(odd) {
    background-color: black;
}

#b div:nth-of-type(even),
#d div:nth-of-type(even),
#f div:nth-of-type(even),
#h div:nth-of-type(even) {
    background-color: white;
}

.queen1,
.queen2 {
    width: 75px;
    height: 80px;
}

.message {
    opacity: 0;
}

.compass {
    height: 150px;
    width: 150px;
}

.display-queen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.queen-container {
    display: flex;
    margin-bottom: 50px;
}

#queen {
    font-size: 1.5em;
    color: #ff7e67;
    font-weight: 700;
}

button {
    padding: 15px 35px;
    border-radius: 50px;
    border: none;
    background-color: #d6e0f0;
    font-weight: 600;
    font-size: 0.9em;
    cursor: pointer;
    color: #07689f;
    margin: 20px 0 20px 90px;
    outline: none;
}

.message {
    color: #ff7e67;
    font-size: 1.2em;
}

.steps,
.direction {
    margin-left: 10px;
    padding: 10px;
    font-weight: 200;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}

.steps {
    width: 70px;
    margin-top: 20px;
}

button:hover {
    background-color: #07689f;
    color: white;
}